body{
    margin: 0;
    background-color: black;
    color: white;
    font-family: "Roboto Condensed", San;
}
/*Header*/
header{
    background-image: url(/images/index/darkOcean.png);
    background-size: cover;
    background-position: 50%;
    height: 100vh;
}

/*Navigation Menu Styling*/
#navOverlay{
    background-image: url(/images/ocean.avif);
    background-size: cover;
    background-position: 50%;
    height: 100vh;
}


/*Footer*/
footer{
    background-image: url(/images/ocean.avif);
    background-size: cover;
    background-position: 50%;
    height: 100vh;
}